@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  padding: 0;
  margin: 0;
}

.text-correct {
  padding-bottom: 0.35rem;
}

.border-gradient {
  border: 2px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: rgb(0 0 0) 1px 1000px 1px inset;
}

/* Primary button */
.safu-button-primary {
  @apply px-4 pt-1 select-none rounded-3xl text-gray-500 cursor-default text-sm font-medium text-correct focus-visible:bg-pink-500 focus-visible:outline-0 tracking-wide border-gradient;
  background-image: linear-gradient(transparent, transparent), linear-gradient(90deg, rgb(252, 190, 138) 0%, rgba(219, 39, 119, 1) 50%, rgba(39, 99, 235, 1) 100%);
}

/* .safu-button-primary:hover,
.safu-button-primary:focus-visible {
  box-shadow: rgba(0, 0, 0, 0.7) 1px 1000px 1px inset;
} */

/* Secondary button */
.safu-button-secondary {
  @apply px-4 pt-1 select-none rounded-3xl text-white cursor-pointer text-sm font-medium text-correct focus-visible:bg-blue-600 focus-visible:outline-0 tracking-wide border-gradient;
  background-image: linear-gradient(transparent, transparent), linear-gradient(90deg, rgba(39, 99, 235, 1) 0%, rgba(219, 39, 119, 1) 100%);
}

.safu-button-secondary:hover,
.safu-button-secondary:focus-visible {
  box-shadow: rgba(0, 0, 0, 0.7) 1px 1000px 1px inset;
}

/* Secondary button */
.safu-button-pop {
  @apply px-4 pt-1 select-none rounded-3xl text-white cursor-pointer text-sm font-medium text-correct focus-visible:bg-blue-600 focus-visible:outline-0 tracking-wide bg-gradient-to-r from-sky-600/80 to-sky-800 border border-sky-500;
  transition: all 0.5 ease-in-out;
}

.safu-button-pop:hover,
.safu-button-pop:focus-visible {
  box-shadow: rgba(0, 0, 0, 0.7) 1px 1000px 1px inset;
  transform: scale(1.05);
}

/* Primary button */
.safu-button-pops {
  @apply px-4 pt-1 select-none rounded-3xl text-gray-500 cursor-default text-sm font-medium text-correct focus-visible:bg-pink-500 focus-visible:outline-0 tracking-wide border-gradient;
  background-image: linear-gradient(transparent, transparent), linear-gradient(90deg, rgb(252, 190, 138) 0%, rgba(219, 39, 119, 1) 100%);
}

/* .safu-button-pops:hover,
.safu-button-pops:focus-visible {
  box-shadow: rgba(0, 0, 0, 0.7) 1px 1000px 1px inset;
} */

/* Primary button */
.safu-button-mid {
  @apply px-4 pt-1 select-none rounded-3xl text-white cursor-pointer text-sm font-medium text-correct focus-visible:bg-pink-500 focus-visible:outline-0 tracking-wide border-gradient;
  background-image: linear-gradient(transparent, transparent), linear-gradient(90deg, rgba(219, 39, 119, 1) 0%, rgba(219, 39, 119, 1) 100%);
}

.safu-button-mid:hover,
.safu-button-mid:focus-visible {
  box-shadow: rgba(0, 0, 0, 0.7) 1px 1000px 1px inset;
}

/* Soft button */
.safu-soft-button {
  @apply px-4 pt-1 select-none rounded-3xl text-white cursor-pointer text-sm font-medium tracking-wide border-gradient;
  background-image: linear-gradient(transparent, transparent), linear-gradient(90deg, rgba(219, 39, 119, 1) 0%, rgba(39, 99, 235, 1) 100%);
}

.safu-soft-button:hover,
.safu-soft-button:focus-visible {
  box-shadow: rgb(0 0 0) 1px 1000px 1px inset, rgba(255, 255, 255, 0.3) 0 0 5px 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(90deg, rgba(236, 72, 153, 1) 0%, rgba(50, 130, 246, 1) 100%);
}

/* Menu button */

.menu-button div {
  @apply rounded-xl;
  width: 18px;
  height: 2px;
  background-color: #ffffff;
}

.menu-button div:not(:last-child) {
  margin-bottom: 6px;
}

.menu {
  @apply min-w-72 fixed h-screen top-0 left-full backdrop-blur-lg bg-gradient-to-br from-neutral-700/80 p-8 z-20 border-l border-neutral-600;
  /* bg-gradient-to-br from-neutral-700/80 */
  /* backdrop-blur-lg bg-black/10 */
}

/* Gradient text */
.safu-grad-text {
  background: linear-gradient(135deg, rgb(252, 190, 138) 0%, rgba(219, 39, 119, 1) 50% 65%, rgba(39, 99, 235, 1) 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Gradient text */
.safu-grad-text-white {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
