@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  padding: 0;
  margin: 0;
}

/* Menu button */

.menu-button div {
  @apply rounded-xl;
  width: 18px;
  height: 2px;
  background-color: #ffffff;
}

.menu-button div:not(:last-child) {
  margin-bottom: 6px;
}

.menu {
  @apply min-w-80 fixed h-screen top-0 left-full bg-neutral-950 p-8 z-10 border-l border-neutral-800;
}
